html {
    display: flex;
    justify-content: center;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.background-vid {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.typing-text {
    margin-top: 6rem;
    padding: 1rem 1rem;
    background-color: rgba(75, 16, 51, 0.723);
    border-radius: 30px;
}

.welcome h1 {
    width: 100%;
    text-align: end;
    margin-left: 12rem;
    margin-top: 2rem;
    font-weight: 300;
    letter-spacing: 7px;
}

.typing-text h2 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    color: white;
    letter-spacing: .25em;
    animation: 
        typing 3s steps(40,end),
        blink-caret .65s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%}
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.button button {
    width: 18rem;
    height: 4rem;
    font-family: Roboto;
    font-size: 2rem;
    color: white;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.456);
    transition-duration: 0.4s;
}

button:hover {
    background-color: black;
    cursor: pointer;
}

#recContainer {
    display: none;
    width: 100%;
    margin-left: -13rem;
    margin-top: 5rem;
}

.container h3 {
    background-color: rgba(0, 0, 0, 0.591);
    font-size: 1.75rem;
    width: 28ch;
    height: 2.5rem;
    border-radius: 30px;
    padding-left: 1rem;
    text-align: center;
    padding-top: .45rem;
    margin-bottom: .5rem;
}

.container p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3rem;
}

.container .rec-card {
    margin-bottom: .25rem;
    margin-top: .25rem;
    height: 3rem;
    border-radius: 10px;
    background-color: black;
    width: 55rem;
    
}

.container .rec-card p {
    padding-top: .5rem;
}